body{
    font-family: sans-serif;
    background-image: url("https://d32ogoqmya1dw8.cloudfront.net/images/eslabs/weather/sky_clouds_456.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color:#000;
    font-size: 16px;
}


#container{
    background-color: #b4bfc1;
    text-align: center;
    opacity: 0.7;
    border-radius:5px;
    padding: 10px 10px;
    
}

#result-box{
    padding: 10px;
    background-color:#070730 ;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    max-width: 60%;
    height: 100vh;
    margin-left:3rem;
    overflow: hidden;
}
@media (min-width: 320px ) {
    #result-box {
        padding: 10px;
        height: 80vh;
    }
}

#name{
    padding:5px;
    border-radius:2px;
}

button{

    padding:5px;
    border-radius:2px;
    color: #fff;
    background-color:#070730;
}
 
.switch{
    position: relative;
    display: inline-block;
    width: 70px;
    height: 10px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: .3s;
}

.slider::before{
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 0px;
    background-color: #fff;
    transition: .3s;
} 

input:checked + .slider::before{
    transform: translateX(55px);
}

.slider{
    border-radius:30px;
}

.slider.round::before {
    border-radius: 50%;
}

.icon{
    height: 9rem;
    width: 9rem;
}
.location{
   font-size: 20px;
   font-weight: 800;
}


/* loading gif*/
.loader {
    margin-top: 30%;
    background: #070730;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader  img {
    width: 50%;
    height: 50%;
}

@media (min-width:800px){

    body{
        font-size: 20px;
        padding: 5%;
        width: 100%;
        height: 100%;
    }
    #name {
        padding:5px;
        font-size: 16px;
        border-radius:5px;
        width: 30vw;
    }

    button {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
    }
    #container{
        display: block;
        align-items: center;
        padding: 1%;
        max-width: 80%;
        height: fit-content;
    }

    #result-box{
        max-width: 60%;
        margin-left:10rem;
    }
}